<%= form_with(model: coffee, local: true) do |form| %>
  <% if coffee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coffee.errors.count, "error") %> prohibited this coffee from being saved:</h2>

      <ul>
        <% coffee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title, class:"form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :description, class:"form-label" %>
    <%= form.text_area :description, class:"form-control"%>
  </div>

  <div class="field mb-3">
    <%= form.label :price, class:"form-label" %>
    <%= form.number_field :price, class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :restaurant, class:"form-label" %>
    <%= form.text_field :restaurant, class:"form-control" %>
  </div>
  
   <div class="field mb-3">
    <%= form.label :image, class:"form-label" %>
    <%= form.file_field :image, class:"form-control" %>
  </div>
  
  <br></br>
  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
