<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>
  
  <div class="field">
      <%= s.label :keywords %><br />
      <%= s.text_field :keywords %>
  </div>
  
  <div class="field">
      <p><%= s.label :min_price, "Min Price" %> - <%= s.text_field :min_price, size: 10 %></p>
      <p><%= s.label :max_price, "Max Price" %> - <%= s.text_field :max_price, size: 10 %></p>
  </div>
  
  <div class="action"><%= s.submit "Search", class: "pure-button pure-button-primary" %></div>
<% end %>

<p><%= link_to 'Back', coffees_path %></p>